

*{
    margin: 0;
    padding: 0;
}

body {
    background: url(back.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.head{
    color: white;
}

.info{
    position:absolute;
    top:20%;
    left:37%;
    border-radius: 23cm;
    border-bottom: 2px white;
}

.info pre{
    color:white;
    font-style: italic;
    font-size: large;
}

h1{
    position:absolute;
    top:0%;
    left:44%;
    font-size: 30px;
    font-style: italic;
}

.info input{
    outline: none;
    border-bottom:2px white;
    width:82%;
    margin: 6px 19px;
    padding: 5px 0;
    font-size: 20px;
    background: none;
    color: white;

    
}

.info button{
    cursor:pointer;
    position: absolute;
    left: 37%;
    font-size: 20px;
    outline: none;
    width:22%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 6px;
    border: 2px solid white;
    background: none;
    color: white;
}

.info i{
    color: white;
}